//
   Created by Administrator on 2016/8/1.

doctype html
html(lang="en")
    head
        title = pageTitle
        body
            h1 Hello, world
            p This is an example of Jade
            input